
*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    background-color:#fff;
}

.nav-item{
    margin-left:20px;
    padding:20px;
    text-align:center;
    font-weight:700;
    font-size:15px;
}